
input{
    height: 30px;
    width: 690px;
    background-color: aliceblue;
    margin-top: 40px;
    border-radius: 20px;
    border: none;
}
.submit{
    width: 90px;
    height: 40px;
    border: groove;
    border-radius: 20px;
    background-color: bisque;
}